extends layout

block content 
	if (user && !(user.isConnected))
		p You are currently logged in as #{user.name}. Authorize with Venmo account  <a href='/auth'>here</a>
	else if (!user)
		p You are currently not logged in. Please login or register... 



	if(user.isConnected)
		#root
			.row
				.col-sm-8
					#usergroup-container								
					#pageNav
					#main-container
	else




