extends layout

block content 
	if (user && !(user.isConnected))
		p You are currently logged in as #{user.name}. Authorize with Venmo account  <a href='/auth'>here</a>
	else if (!user)
		p You are currently not logged in. Please login or register... 



	if(user.isConnected)
		#root
			.row
				.col-sm-8
					h3 Upload group below...

					form.dropzone#my-dropzone(action="/file-upload", enctype="multipart/form-data")
					br
					.button-container
						button.btn.btn-default#submit-all Upload	
					

					#usergroup-container
					#charge-container								
					#pageNav
					#main-container
	else


script(id="initial-usergroupList" type="application/json").usergroupList