extends layout

block content
  if (user)
    p You are currently logged in as #{user.name}. Authorize with Venmo account  <a href='/auth'>here</a>  
  else
    p You are currently not logged in. Plaese login or register...


