doctype html
html
  head
    title Treasury
    link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/login.css') 
    link(rel='stylesheet', href='./css/dashboard.css')
    link(rel='stylesheet', href='./css/layout.css')

    block scripts
      script(src='./bower_components/jquery/dist/jquery.min.js')
      script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand(href='#')
            img(alt="Brand" src="./img/dollar-sign.jpg")
        .collapse.navbar-collapse
          span Project Name Here
          if(user)
            ul.nav.navbar-nav.navbar-right
              li
                if(user.isConnected)
                  a(href="#") 
                    img(alt="Venmo Authenticated" src="./img/checkmark.png") 
                    span Venmo
                else
                  a(href="/auth") 
                    img(alt="Venmo Not Authenticated" src="./img/x.svg") 
                    span Connect with Venmo
              li 
                a(href="#") Signed in as #{user.name} 
          else
            ul.nav.navbar-nav.navbar-right
              li Please Sign in



           



    .container
      block content

script(src="./scripts/react/bundle.js")




