doctype html
html
  head
    title Treasury
    link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/login.css') 

    block scripts
      script(src='./bower_components/jquery/dist/jquery.min.js')
      script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Treasury
          ul.nav
            if (typeof(user) == 'undefined')
              li
                a(href="/login") Log In
            else
              li
                a(href="/logout") Log Out
              li
                a(href="/query") Query Users


    .container
      block content

script(src="./bower_components/react/react.js")
script(src="./bower_components/react/JSXTransformer.js")
script(src="./scripts/react/bundle.js")




