doctype html
html
  head
    title Treasury
    link(rel='stylesheet', href='./bower_components/bootstrap/dist/css/bootstrap.min.css')
    

    link(rel='stylesheet', href='./css/build/combined.min.css')
    link(rel='stylesheet', href='./css/layout.css')
    //- drop
    link(rel='stylesheet', href='./css/dropzone/dropzone.css')
    link(rel='stylesheet', href='./css/dropzone/customize.css')



    block scripts
      script(src='./bower_components/jquery/dist/jquery.min.js')
      script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')

      script(src="./scripts/dropzone/dropzone.js")
      script(src="./scripts/dropzone/customize.js")  

      //- this loads initial data from the server and react can use it
      script(id="initial-usergroupList" type="application/json").
        !{usergroupList}
      script(id="initial-chargeList" type="application/json").
        !{chargeList}        

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          .navbar-brand
            a(href="#") 
              #brand Treasury

        .collapse.navbar-collapse
          if(user)
            ul.nav.navbar-nav.navbar-right
              li
                if(user.isConnected)
                  a(href="#") 
                    img(alt="Venmo Authenticated" src="./img/checkmark.png") 
                    span Venmo
                else
                  a(href="/auth") 
                    img(alt="Venmo Not Authenticated" src="./img/x.svg") 
                    span Connect with Venmo
              li 
                a(href="#") Signed in as #{user.name} 
              li
                a(href='/logout') Log Out
          else
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/logout') Log Out
              




           



    .container
      block content
        
script(src="./bower_components/socket.io-client/socket.io.js")
script(src="./scripts/react/bundle.js")